#order-img{
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
   background-image: url("../images/girl.jpg");
 
}
#order-l{
    background-color: bisque;
}
#order-box{
   
    width: 600px;
    background-color: black;
}
#no-order{
   color:rgb( rgb(216, 211, 211), green, rgb(41, 41, 124));
}
#box-con{
    display: flex;
    flex-direction: row;
    width: 600px;
}
#or-h1{
   
    color:  rgb(216, 211, 211);
}
#oq{
    color: aliceblue;
}
#yellow{
    color: yellow;
}